<%- include('partials/header') %> 

<div class="p-5 text-center bg-light">
    <h1 class="mb-3">SilqeeNFTs</h1>
    <h4 class="mb-3">About Silqee</h4>
    <p>At Silqee, we're excited about a brand new type of digital good called a non-fungible token, or NFT. NFTs have exciting new properties: they’re unique, provably scarce, tradeable, and usable across multiple applications. Just like physical goods, you can do whatever you want with them! You could throw them in the trash, gift them to a friend across the world, or go sell them on an open marketplace. But unlike physical goods, they're armed with all the programmability of digital goods.
    </p>
    <h4 class="mb-3">Learn about digital assets.</h4>

  </div>

<%- include('partials/footer') %> 