<%- include('partials/header') %> 

<div class="container">
    <div class="row my-3">
        <div class="table-responsive">
            <table class="table table-striped text-center">
                <thead>
                    <tr class="table-dark" width="200px">
                        <th>Rank</th>
                        <th>Artist</th>
                        <th>Owned NFTs</th>
                        <th>Liked</th>
                        <th>About</th> 
                        <th>Action</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#1</td>
                        <td>Svbian</td>
                        <td>37</td>
                        <td>379</td>
                        <td>Colorado Artist...</td>
                        <td>
                            <a href="" class="text-secondary"><i class="far fa-eye-slash fa-lg mx-1"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>#2</td>
                        <td>Nerb</td>
                        <td>999</td>
                        <td>1490</td>
                        <td>Hidden Leaf...</td>
                        <td>
                            <a href="" class="text-secondary"><i class="far fa-eye-slash fa-lg mx-1"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>#3</td>
                        <td>Bored Apes</td>
                        <td>5983</td>
                        <td>78934</td>
                        <td>Apes that are...</td>
                        <td>
                            <a href="" class="text-secondary"><i class="far fa-eye-slash fa-lg mx-1"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>#4</td>
                        <td>Tsumi</td>
                        <td>789</td>
                        <td>2631</td>
                        <td>There are wars...</td>
                        <td>
                            <a href="" class="text-secondary"><i class="far fa-eye-slash fa-lg mx-1"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>#5</td>
                        <td>Murakami</td>
                        <td>3248</td>
                        <td>589742</td>
                        <td>A Japanese writer...</td>
                        <td>
                            <a href="" class="text-secondary"><i class="far fa-eye-slash fa-lg mx-1"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('partials/footer') %> 