<%- include('partials/header') %> 

<div class="container">
    <div class="row my-2">
        <div class="table-responsive">
            <table class="table table-striped text-center">
                <thead>
                    <tr class="table-dark">
                        <th>Image</th>
                        <th>Name</th>
                        <th>Floor Price</th>
                        <th>Current Price</th>
                        <th>Owners</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="/public/assets/Jett.jpg"></td>
                        <td>Svbian's "Jett"</td>
                        <td>.1 ETH</td>
                        <td>3 ETH</td>
                        <td>2</td>
                        <td>
                            <a href="" class="text-warning"><i class="fas fa-edit fa-lg mx-1"></i></a>
                            <a href="" class="text-secondary"><i class="far fa-eye-slash fa-lg mx-1"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="/public/assets/Reyna.jpg"></td>
                        <td>Svbian's "Reyna"</td>
                        <td>.1 ETH</td>
                        <td>6 ETH</td>
                        <td>1</td>
                        <td>
                            <a href="" class="text-warning"><i class="fas fa-edit fa-lg mx-1"></i></a>
                            <a href="" class="text-secondary"><i class="far fa-eye-slash fa-lg mx-1"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="/public/assets/Sinatra.jpg"></td>
                        <td>Svbian's "Sinatra"</td>
                        <td>.1 ETH</td>
                        <td>1 ETH</td>
                        <td>0</td>
                        <td>
                            <a href="" class="text-warning"><i class="fas fa-edit fa-lg mx-1"></i></a>
                            <a href="" class="text-secondary"><i class="far fa-eye-slash fa-lg mx-1"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="/public/assets/NadeShot.jpg"></td>
                        <td>Svbian's "Nade"</td>
                        <td>.1 ETH</td>
                        <td>3 ETH</td>
                        <td>7</td>
                        <td>
                            <a href="" class="text-warning"><i class="fas fa-edit fa-lg mx-1"></i></a>
                            <a href="" class="text-secondary"><i class="far fa-eye-slash fa-lg mx-1"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="/public/assets/Suki.jpg"></td>
                        <td>Svbian's "Suki"</td>
                        <td>.1 ETH</td>
                        <td>5 ETH</td>
                        <td>5</td>
                        <td>
                            <a href="" class="text-warning"><i class="fas fa-edit fa-lg mx-1"></i></a>
                            <a href="" class="text-secondary"><i class="far fa-eye-slash fa-lg mx-1"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('partials/footer') %> 