<%- include('partials/header') %> 

<div class="container">
    <div class="row my-3">
        <div class="table-responsive">
            <table class="table table-striped text-center">
                <thead>
                    <tr class="table-dark">
                        <th>Image</th>
                        <th>Name</th>
                        <th>Floor Price</th>
                        <th>Current Price</th>
                        <th>Owners</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="" alt=""></td>
                        <td>Svbian's ""</td>
                        <td>.1 ETH</td>
                        <td>3 ETH</td>
                        <td>2</td>
                        <td>
                            <a href="" class="text-warning"><i class="fas fa-edit fa-lg mx-1"></i></a>
                            <a href="" class="text-secondary"><i class="far fa-eye-slash fa-lg mx-1"></i></a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('partials/footer') %> 