<%- include('partials/header') %> 

<div class="p-5 text-center ">
    <h1 class="mb-3">Jobs</h1>
    <h4 class="mb-3">Interested in working with us?</h4>
    <a class="btn btn-primary" href="/jobboard" role="button">Our Job Board</a>
  </div>


<%- include('partials/footer') %> 